.container {
    background-color: tan;
    text-align: center;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
}
.addBurgerButton {
    background-color: white;
    color: black;
    border: 2px solid rgb(4, 5, 4); 
}
.burgerAvailable {
    background-color: white;
    color: black;
    border: 2px solid green;
}
.burgerEaten {
    background-color: white;
    color: black;
    border: 2px solid red;
}
body {
    background-image: url(../img/burger-pattern-background_1457-8.jpg)
}
img {
    width: 50%;
    height: 300px;
}